@model FinalMvcProject.Models.Department


<br/><br /><br />
<h1 class="text-success">@TempData["message"]</h1><br />

@using (Html.BeginForm(Html.BeginForm("Upload", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        <hr />
        @*@Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Size)
                @Html.ValidationMessageFor(model => model.Size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Path, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Path)
                @Html.ValidationMessageFor(model => model.Path)
            </div>
        </div>*@
        
        @*<div class="form-group">
            @Html.Label("Department", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", String.Empty)
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>
        </div>*@
        
        <div class="form-group">
            @Html.Label("Course", htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="Departments" class="col-md-10">
                @Html.DropDownList("CourseId",String.Empty)
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.Label( "Files", htmlAttributes: new { @class = "control-label col-md-2" })
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-md-10">
                <input class="btn-default btn-lg" type="file" name="file" /><br>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input  type="submit" value="Upload" class="btn btn-success btn-lg" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Go to File", "FileView")
</div>
@section scripts
{
    
    <script>

        $(function() {
            $("#DepartmentId").change(function() {
                var dept = $("#DepartmentId").val();
                $("#CourseId").empty();
                var jsnFormatData = { id: dept };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadCourses")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsnFormatData),
                    dataType: "json",
                    success: function (data) {
                      
                        alert("Department Save Successfully!");
                    },
                    error: function() {
                        alert("Not ok");
                    }
                });

            });
        });

    </script>
}
