@model FinalMvcProject.Models.Question

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.QuestionFor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionFor)
                @Html.ValidationMessageFor(model => model.QuestionFor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.First, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.First)
                @Html.ValidationMessageFor(model => model.First)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Second, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Second)
                @Html.ValidationMessageFor(model => model.Second)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Third, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Third)
                @Html.ValidationMessageFor(model => model.Third)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Forth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Forth)
                @Html.ValidationMessageFor(model => model.Forth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Answer)
                @Html.ValidationMessageFor(model => model.Answer)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<br><br>
<div id="entrqs" class="jumbotron">
    Enter Question : <input type="text" id="question" name="question" /><br /><br />
    <input name="same" type="radio" id="firstr" value="" /><input id="firstq" type="text" /><br />
    <input name="same" type="radio" id="secondr" value="" /><input id="secondq" type="text" /><br />
    <input name="same" type="radio" id="thirdr" value="" /><input id="thirdq" type="text" /><br />
    <input name="same" type="radio" id="forthr" value="" /><input id="forthq" type="text" />

</div>
<div id="entrqs1" class="jumbotron">
    Enter Question : <input type="text" id="question1" name="question" /><br /><br />
    <input name="same1" type="radio" id="firstr1" value="" /><input id="firstq1" type="text" /><br />
    <input name="same1" type="radio" id="secondr1" value="" /><input id="secondq1" type="text" /><br />
    <input name="same1" type="radio" id="thirdr1" value="" /><input id="thirdq1" type="text" /><br />
    <input name="same1" type="radio" id="forthr1" value="" /><input id="forthq1" type="text" />

</div>
<div id="entrqs2" class="jumbotron">
    Enter Question : <input type="text" id="question2" name="question" /><br /><br />
    <input name="same2" type="radio" id="firstr2" value="" /><input id="firstq2" type="text" /><br />
    <input name="same2" type="radio" id="secondr2" value="" /><input id="secondq2" type="text" /><br />
    <input name="same2" type="radio" id="thirdr2" value="" /><input id="thirdq2" type="text" /><br />
    <input name="same2" type="radio" id="forthr2" value="" /><input id="forthq2" type="text" />

</div>
<div id="entrqs3" class="jumbotron">
    Enter Question : <input type="text" id="question3" name="question" /><br /><br />
    <input name="same3" type="radio" id="firstr3" value="" /><input id="firstq3" type="text" /><br />
    <input name="same3" type="radio" id="secondr3" value="" /><input id="secondq3" type="text" /><br />
    <input name="same3" type="radio" id="thirdr3" value="" /><input id="thirdq3" type="text" /><br />
    <input name="same3" type="radio" id="forthr3" value="" /><input id="forthq3" type="text" />

</div><div id="entrqs4" class="jumbotron">
    Enter Question : <input type="text" id="question4" name="question" /><br /><br />
    <input name="same4" type="radio" id="firstr4" value="" /><input id="firstq4" type="text" /><br />
    <input name="same4" type="radio" id="secondr4" value="" /><input id="secondq4" type="text" /><br />
    <input name="same4" type="radio" id="thirdr4" value="" /><input id="thirdq4" type="text" /><br />
    <input name="same4" type="radio" id="forthr4" value="" /><input id="forthq4" type="text" />

</div><div id="entrqs5" class="jumbotron">
    Enter Question : <input type="text" id="question5" name="question" /><br /><br />
    <input name="same5" type="radio" id="firstr5" value="" /><input id="firstq5" type="text" /><br />
    <input name="same5" type="radio" id="secondr5" value="" /><input id="secondq5" type="text" /><br />
    <input name="same5" type="radio" id="thirdr5" value="" /><input id="thirdq5" type="text" /><br />
    <input name="same5" type="radio" id="forthr5" value="" /><input id="forthq5" type="text" />

</div><div id="entrqs6" class="jumbotron">
    Enter Question : <input type="text" id="question6" name="question" /><br /><br />
    <input name="same6" type="radio" id="firstr6" value="" /><input id="firstq6" type="text" /><br />
    <input name="same6" type="radio" id="secondr6" value="" /><input id="secondq6" type="text" /><br />
    <input name="same6" type="radio" id="thirdr6" value="" /><input id="thirdq6" type="text" /><br />
    <input name="same6" type="radio" id="forthr6" value="" /><input id="forthq6" type="text" />

</div><div id="entrqs2" class="jumbotron">
    Enter Question : <input type="text" id="question7" name="question" /><br /><br />
    <input name="same7" type="radio" id="firstr7" value="" /><input id="firstq7" type="text" /><br />
    <input name="same7" type="radio" id="secondr7" value="" /><input id="secondq7" type="text" /><br />
    <input name="same7" type="radio" id="thirdr7" value="" /><input id="thirdq7" type="text" /><br />
    <input name="same7" type="radio" id="forthr7" value="" /><input id="forthq7" type="text" />

</div><div id="entrqs8" class="jumbotron">
    Enter Question : <input type="text" id="question8" name="question" /><br /><br />
    <input name="same8" type="radio" id="firstr8" value="" /><input id="firstq8" type="text" /><br />
    <input name="same8" type="radio" id="secondr8" value="" /><input id="secondq8" type="text" /><br />
    <input name="same8" type="radio" id="thirdr8" value="" /><input id="thirdq8" type="text" /><br />
    <input name="same8" type="radio" id="forthr8" value="" /><input id="forthq8" type="text" />

</div><div id="entrqs9" class="jumbotron">
    Enter Question : <input type="text" id="question9" name="question" /><br /><br />
    <input name="same9" type="radio" id="firstr9" value="" /><input id="firstq9" type="text" /><br />
    <input name="same9" type="radio" id="secondr9" value="" /><input id="secondq9" type="text" /><br />
    <input name="same9" type="radio" id="thirdr9" value="" /><input id="thirdq9" type="text" /><br />
    <input name="same9" type="radio" id="forthr9" value="" /><input id="forthq9" type="text" />

</div>







@section scripts
{

    <script>
        var a, b, c, d, e, f, g, i, j, k;
        function myFunction(question,first,second,third,forth,answer) {
            this.questionfor = question;
            this.first = first;
            this.second = second;
            this.third = third;
            this.forth = forth;
            this.answer = answer;
        }
        
        //$(function () {
        /*..............assign Textbox value to radio........................*/

        $("#firstq").keyup(function() {
            $("#firstr").val($("#firstq").val());
        });
        $("#firstq").keyup(function() {
            $("#firstr").val($("#firstq").val());
        });
        $("#firstq").keyup(function() {
            $("#firstr").val($("#firstq").val());
        });
        $("#firstq").keyup(function() {
            $("#firstr").val($("#firstq").val());
        });
        $("#firstq").keyup(function() {
            $("#firstr").val($("#firstq").val());
        });
        $("#firstq").keyup(function() {
            $("#firstr").val($("#firstq").val());
        });
        $("#firstq").keyup(function() {
            $("#firstr").val($("#firstq").val());
        });
        $("#firstq").keyup(function() {
            $("#firstr").val($("#firstq").val());
        });
        $("#firstq").keyup(function() {
            $("#firstr").val($("#firstq").val());
        });
        $("#firstq").keyup(function() {
            $("#firstr").val($("#firstq").val());
        });

        /*..............End of first........................*/

        $("#secondq").keyup(function() {
            $("#secondr").val($("#secondq").val());
        });
        $("#secondq").keyup(function() {
            $("#secondr").val($("#secondq").val());
        });
        $("#secondq").keyup(function() {
            $("#secondr").val($("#secondq").val());
        });
        $("#secondq").keyup(function() {
            $("#secondr").val($("#secondq").val());
        });
        $("#secondq").keyup(function() {
            $("#secondr").val($("#secondq").val());
        });
        $("#secondq").keyup(function() {
            $("#secondr").val($("#secondq").val());
        });
        $("#secondq").keyup(function() {
            $("#secondr").val($("#secondq").val());
        });
        $("#secondq").keyup(function() {
            $("#secondr").val($("#secondq").val());
        });
        $("#secondq").keyup(function() {
            $("#secondr").val($("#secondq").val());
        });
        $("#secondq").keyup(function() {
            $("#secondr").val($("#secondq").val());
        });

        /*..............End of second........................*/

        $("#thirdq").keyup(function() {
            $("#thirdr").val($("#thirdq").val());
        });
        $("#thirdq").keyup(function() {
            $("#thirdr").val($("#thirdq").val());
        });
        $("#thirdq").keyup(function() {
            $("#thirdr").val($("#thirdq").val());
        });
        $("#thirdq").keyup(function() {
            $("#thirdr").val($("#thirdq").val());
        });
        $("#thirdq").keyup(function() {
            $("#thirdr").val($("#thirdq").val());
        });
        $("#thirdq").keyup(function() {
            $("#thirdr").val($("#thirdq").val());
        });
        $("#thirdq").keyup(function() {
            $("#thirdr").val($("#thirdq").val());
        });
        $("#thirdq").keyup(function() {
            $("#thirdr").val($("#thirdq").val());
        });
        $("#thirdq").keyup(function() {
            $("#thirdr").val($("#thirdq").val());
        });
        $("#thirdq").keyup(function() {
            $("#thirdr").val($("#thirdq").val());
        });

        /*..............End of third........................*/

        $("#forthq").keyup(function() {
            $("#forthr").val($("#forthq").val());
        });
        $("#forthq").keyup(function() {
            $("#forthr").val($("#forthq").val());
        });
        $("#forthq").keyup(function() {
            $("#forthr").val($("#forthq").val());
        });
        $("#forthq").keyup(function() {
            $("#forthr").val($("#forthq").val());
        });
        $("#forthq").keyup(function() {
            $("#forthr").val($("#forthq").val());
        });
        $("#forthq").keyup(function() {
            $("#forthr").val($("#forthq").val());
        });
        $("#forthq").keyup(function() {
            $("#forthr").val($("#forthq").val());
        });
        $("#forthq").keyup(function() {
            $("#forthr").val($("#forthq").val());
        });
        $("#forthq").keyup(function() {
            $("#forthr").val($("#forthq").val());
        });
        $("#forthq").keyup(function() {
            $("#forthr").val($("#forthq").val());
        });

        /*..............End of forth........................*/

        /*..............End........................*/

        var c = new myFunction("what is your name", "hafijur", "samrat", "farhana", "jamil", "hafijur");
        var k = new myFunction("what is your name", "hafijur", "samrat", "farhana", "jamil", "hafijur");
        var e = new myFunction("what is your name", "hafijur", "samrat", "farhana", "jamil", "hafijur");
        var f = new myFunction("what is your name", "hafijur", "samrat", "farhana", "jamil", "hafijur");

        var a = [a,b,c,d,e,f,g,i,j,k];


        $.ajax({
            type: "POST",
            url: "Test",
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            data: JSON.stringify({ ob:a }),
            success: function () {
                alert("success");
            },
            error: function () {
                alert("Not Success");
            }

        });


        });


    </script>

}



