@model IEnumerable<FinalMvcProject.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.AntiForgeryToken()



@Html.Partial("~/Views/Shared/_ExamView.cshtml")



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
       
        </tr>
    }

</table>
<input type="button" id="a" value="ok" class="btn btn-danger btn-lg"/>
<script src="~/Scripts/jquery-2.1.4.js"></script>

@section scripts
{
    <script>

        var a="";
        $(function () {
            $("#a").click(function() {


                $.ajax({
                    type: "POST",
                    url:'@Url.Action("Hafijur")',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function ()
                            {
                            $.each(data, function(key, value) {
                                $("#course").append('<li><a href="#">' + value.Answer + '</a></li>');
                            });
                            alert("Successfull");
                            },
                    error: function ()
                            {
                            alert("Not successfull");
                            }
                });
            });
        });
    </script>

}


