<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Final Mvc Project</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/slideStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }

        body {
            padding: 5px;
        }

        ul {
            list-style: none;
        }

            ul li {
                float: left;
                padding-right: 1px;
                position: relative;
            }

            ul a {
                display: table-cell;
                vertical-align: middle;
                width: 80px;
                height: 50px;
                text-align: center;
                background: #b0c4de;
                color: #000000;
                text-decoration: none;
            }

                ul a:hover {
                    background: #00ced1;
                }

        li > ul {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
        }

        li:hover > ul {
            display: block;
        }

        li > ul li {
            padding: 0;
            padding-top: 1px;
        }

            li > ul li > ul {
                width: 80px;
                left: 100%;
                top: 0;
                padding-left: 1px;
                background: #b6ff00;
            }

                li > ul li > ul li {
                    width: 100%;
                }

        li:hover > a {
            background: #00ced1;
        }

        a {
            text-decoration: none !important;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("University Management System", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                <ul>

                    <li class="dropdown table-hover">
                        <a href="#">Department</a>
                        <ul id="dept">
                            <li>@Html.ActionLink("Add Department", "Create", "Department")</li>
                            <li>@Html.ActionLink("View All Departments", "Index", "Department")</li>

                        </ul>
                    </li>


                    <li>
                        <a href="#">Course</a>
                        <ul >
                            <li>@Html.ActionLink("Add Course", "Create", "Course")</li>
                            <li>@Html.ActionLink("View Course Statics", "ViewCourseStatus", "AssignCourse")</li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">Faculty</a>
                        <ul>
                            <li>@Html.ActionLink("Add Teacher", "Create", "Teacher")</li>
                            <li>@Html.ActionLink("Course Assign To Teacher", "Create", "AssignCourse")</li>
                            <li>@Html.ActionLink("View All Teachers", "Index", "Teacher")</li>

                        </ul>
                    </li>



                    <li>
                        <a href="#">Student</a>
                        <ul>
                            <li>@Html.ActionLink("Register Student", "Create", "Student")</li>
                            @*<li>@Html.ActionLink("Enroll In a Course", "Create", "EnrollCourse")</li>*@
                            <li>@Html.ActionLink("View All Students", "Index", "Student")</li>
                        </ul>
                    </li>
                    @*<li>
                            <a href="#">Quiz</a>
                            <ul>
                                <li>@Html.ActionLink("Add Quiz Name", "Create", "Quizs")</li>
                                <li>@Html.ActionLink("Create Quiz", "CreateQuiz", "Questions")</li>
                                <li>@Html.ActionLink("Add Quiz Name", "Exam2", "Questions")</li>
                            </ul>
                        </li>*@
                    <li>
                        <a>File</a>
                        <ul>
                            <li>@Html.ActionLink("Upload File", "Create", "Files")</li>
                            <li>@Html.ActionLink("Show File", "FileView", "Files")</li>
                        </ul>


                    </li>



                    <li>
                        <a>Quiz</a>
                        <ul>
                            <li>@Html.ActionLink("Create Quiz", "QuizNumber", "Questions")</li>
                            <li>@Html.ActionLink("Exam", "Exam2", "Questions")</li>
                        </ul>


                    </li>




                    @*....................................................................................*@












                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="font-size: 25px;">&copy; @DateTime.Now.Year </p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/respond.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/_references.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/External.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
