@model IEnumerable<FinalMvcProject.Models.File>



@{
    if (Model != null)
    {

        <table class="table col-md-12 ">
            <tr class="row">
                <th class="col-lg-3 form-control">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="col-md-3 form-control">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th class="col-md-3 form-control">
                    @Html.DisplayNameFor(model => model.Size)
                </th>


            </tr>

            @foreach (var item in Model)
            {
                <tr class="row">
                    <td class="col-md-3 form-control">

                        @Html.ActionLink(item.Name, "Download", "Files", new {@item.Name})
                   
                    </td>
                    <td class="col-md-3 form-control">
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>

                    <td class="col-md-3 form-control">
                        @Html.ActionLink("Download", "Download", new {@item.Name}, new {@class = "btn btn-success btn-lg"})
                    </td>
                </tr>
            }

        </table>

    }
    else
    {
        <h1 class="text-center text-info">No file Are Uploaded yet</h1>
    }




}

